body{
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin: 40px 90px;

}

.flex-head{
    display: flex;
    font-size: 10px;
    gap: 5px;
}


.right{
    flex: 1;
    display: flex;
    font-size: 30px;
    text-align: center;
    gap: 30px;
    font-family: 'Epilogue', sans-serif;


}
.right h1{
    margin: 0;
    color: hsl(0, 0%, 8%);
    font-size: 40px;
    

}

.right p{
    font-size: 16px;
    color: hsl(0, 0%, 41%);
    font-weight: 500;

}

.features {
    display: flex;
}

.company{
    display: flex;
}

.features img{
    padding-top: 20px;
    padding-left: 5px;
}
.company img{
    padding-top: 20px;
    padding-left: 5px;
}


.left p3{
     border: 2px hsl(0, 0%, 41%) solid;
     border-radius: 15px;
     height: 40px;
     width: 100px;
     text-align: center;
     line-height: 40px;
}

.left{
    flex: 1;
    display: flex;
    font-size: 30px;
    gap: 30px;
    margin-left: 500px;
    font-size: 16px;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    font-family: 'Epilogue', sans-serif;
}





.flex-bottom{
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    margin: 10px 60px;
}


.box-1 {
    padding: 50px;
    flex: 1;
    font-family: 'Epilogue', sans-serif;

}


.box-1 h1{
    font-weight: 700;
    font-size: 65px;
    letter-spacing: -3px;
    color: hsl(0, 0%, 8%);
    
    margin-top: 20px;
    margin-bottom: 30px;

}

.box-1 p{
font-weight: 500;
font-size: 18px;
color: hsl(0, 0%, 41%);
margin-bottom: 50px;
line-height: 22px;

}

.box-1 h2{
    background-color:hsl(0, 0%, 8%) ;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    color:hsl(0, 0%, 98%) ;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    line-height: 50px;


}



.box-2 img{
    width: 400px;
    height: auto;
    flex: 1;
    padding-right: 60px;
}

.things{
    display: flex;
    gap: 40px;
    padding-top: 60px;
}